(blazesnowredir) {
	redir /ipa* https://github.com/ipabuyer 301
	redir /imageporter* https://github.com/BlazeSnow/ImagePorter 301
}

(blazesnowcom) {
	root * /app

	import blazesnowredir

	try_files {path} {path}.html {path}/index.html =404
	file_server

	handle_errors {
		@notfound expression `{err.status_code} == 403 || {err.status_code} == 404`
		handle @notfound {
			rewrite * /404.html
			file_server
		}
	}

	handle /assets/* {
		header Cache-Control "public, immutable, max-age=31536000"
		file_server
	}
}

(certificate) {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
}

http://localhost {
	import blazesnowcom
}

blazesnow.com {
	import certificate

	redir https://www.blazesnow.com{uri} 301
}

www.blazesnow.com {
	import certificate

	import blazesnowcom
}

status.blazesnow.com {
	import certificate

	redir https://blazesnow.statuspage.io 301
}

ipa.blazesnow.com {
	import certificate

	redir https://github.com/ipabuyer 301
}
