blazesnow.com {
	redir https://www.blazesnow.com{uri} permanent
}

www.blazesnow.com {
	root * /app
	file_server

	handle_errors {
		@error {
			expression {http.error.status_code} == 404 || {http.error.status_code} == 403
		}
		rewrite @error /404.html
		file_server
	}
}
