:root {
    /*字体大小*/
    --base-font-size: 18px;
    /*字体间距*/
    --base-line-height: 2;
    /*主题色*/
    --theme-color: #0080FF;
    /*链接的颜色*/
    --link-color: #1c6eda;
    /*强制换行*/
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
}

/*单行代码块强制换行*/
.markdown-section code:not([class*=lang-]):not([class*=language-]){
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
}