:root {
    --vp-c-brand-1: #0080FF;
    --vp-c-brand-2: #0080FF;
    --vp-c-brand-3: #0080FF;
    --vp-c-brand-soft: #0080FF;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(100deg, mediumpurple, #0080FF);
}

/* 大部分文字 */
html,
body,
    /* > 说明文字 */
.vp-doc blockquote > p,
    /* ::: 块状文字 ::: */
.vp-doc .custom-block p {
    line-height: 1.6;
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
}

/* 侧边栏 */
.VPSidebarItem.level-0 .text,
.VPSidebarItem.level-1 .text,
.VPSidebarItem.level-2 .text,
.VPSidebarItem.level-3 .text,
.VPSidebarItem.level-4 .text,
.VPSidebarItem.level-5 .text {
    line-height: 1.6;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

/* 导航栏 */
div.content-body *,
    /* 导航栏展开 */
div.menu div.items * {
    line-height: 2.1;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

/* 最后更新于 */
div.last-updated p.VPLastUpdated,
    /* 最后更新时间 */
div.last-updated p.VPLastUpdated time {
    font-size: 18px;
}

/* 最底下上一篇下一篇 */
nav.prev-next div.pager * {
    line-height: 1.6;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

/* 右边的小目录 */
ul.VPDocOutlineItem.root * {
    line-height: 2.0;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}