:root {
    --vp-c-brand-1: #0080FF;
    --vp-c-brand-2: #0080FF;
    --vp-c-brand-3: #0080FF;
    --vp-c-brand-soft: #0080FF;
    --vp-home-hero-name-color: #0080FF;
}

/* 大部分文字 */
html,
body,
/* > 说明文字 */
.vp-doc blockquote p,
/* ::: 块状文字 ::: */
.vp-doc .custom-block p,
.vp-doc table * {
    line-height: 1.6;
    font-size: 18px;
}

/* ::: 展开式注释的标题 ::: */
.custom-block.details summary {
    line-height: 1.6;
    font-size: 18px;
}

/* 侧边栏 */
.VPSidebarItem.level-0 *,
.VPSidebarItem.level-1 *,
.VPSidebarItem.level-2 *,
.VPSidebarItem.level-3 *,
.VPSidebarItem.level-4 *,
.VPSidebarItem.level-5 * {
    line-height: 1.6;
    font-size: 16px;
}

/* 导航栏 */
div.content-body *,
/* 导航栏展开 */
div.menu div.items * {
    line-height: 2.0;
    font-size: 16px;
}

/* 最底下上一篇下一篇 */
.prev-next .pager * {
    line-height: 1.6;
    font-size: 16px;
}

/* 右边的小目录 */
.VPDocOutlineItem.root * {
    line-height: 2.0;
    font-size: 16px;
}