@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.ttf) format('truetype');
}

:root {
    --vp-font-family-mono:
        'Monaspace Neon', ui-monospace, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
        'Courier New', monospace;
}