@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/monaspace-neon.woff2') format('woff2');
}

:root {
    --vp-font-family-mono: 'Monaspace Neon';
}
