localhost {
	root * /app

	try_files {path} {path}.html {path}/index.html =404
	file_server

	handle_errors {
		@notfound expression `{err.status_code} == 403 || {err.status_code} == 404`
		handle @notfound {
			rewrite * /404.html
			file_server
		}
	}

	handle /assets/* {
		header Cache-Control "public, immutable, max-age=31536000"
		file_server
	}
}
